altgraph==0.17.4
async-timeout==4.0.3
blinker==1.7.0
cachelib==0.12.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
coverage==5.5
decorator==4.4.2
deprecation==2.1.0
eyed3==0.9.7
filetype==1.2.0
Flask==3.0.2
Flask-Mail==0.9.1
Flask-Session==0.6.0
html5lib==1.1
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
itsdangerous==2.1.2
Jinja2==3.1.3
macholib==1.16.3
markdown2==2.4.13
MarkupSafe==2.1.5
mechanize==0.4.9
menousdb==0.1.3
moviepy==1.0.3
numpy==1.26.4
packaging==23.2
pandas==2.2.1
pillow==10.2.0
prettytable==3.10.0
proglog==0.1.10
pygame==2.5.2
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.2
python-dateutil==2.9.0.post0
pytube==15.0.0
pytz==2024.1
redis==5.0.2
requests==2.31.0
setuptools==69.1.1
six==1.16.0
spotipy==2.23.0
toml==0.10.2
tqdm==4.66.2
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.1
