{% extends "base.html" %}


{% block title %}Music Portfolio{% endblock %}

{% block head %}
<style>
    body, html {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .contain {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 20px;
    }

    .contain .card {
        margin: 20px;
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 1s ease, transform 1s ease;
    }

    .contain .card.show {
        opacity: 1;
        transform: translateY(0);
    }

    .contain .card:hover {
        box-shadow: 0 0 10px 20px lightgrey;
        transition: box-shadow 0.7s ease-in-out;
        width: 18.1rem;
    }

    .image1 {
        position: relative;
        height: 300px;
        width: 100%;
        overflow: hidden;
        margin-top: 20px;
    }

    .image1::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url("{{ url_for('static', filename='spring-concert.jpeg') }}") center/cover no-repeat;
        filter: blur(0px);
        z-index: 1;
    }

    .text {
        position: relative;
        z-index: 2;
        width: 100%;
        margin: auto;
        color: white;
        text-align: center;
        padding-top: 10%;
    }

    .text h1 {
        font-weight: 100;
        font-size: 40px;
    }

    .winter-concert {
        width: 80%;
        margin-left: 10%;
        height: 100%;
    }

    .delete-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        display: flex;
    }

    .delete-btn button:first-child {
        background-color: red;
        color: white;
        margin-right: 5px;
        border-radius: 30px;
    }

    .delete-btn button:last-child {
        background-color: black;
        color: white;
        margin-right: 5px;
        border-radius: 30px;
    }

    .delete-btn:hover button {
        color: red;
        background: white !important;
    }

    .images-portfolio {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 20px;/* Add margin to prevent overlap with footer */
        background: black;
    }

    .images-portfolio .card {
        width: 100%;
        max-width: 560px;
        background-color: black;
    }
    .breaker{
        text-align: center;
        padding:50px;
        color:white;
        background-color: black;
        
    }

    .breaker h1{
        font-size: 40px;
    }
    footer {
        margin-top: auto;
    }
</style>
{% endblock %}

{% block body %}
<div class="modal fade" id="modal-delete" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Warning!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Are You Sure You Want to Delete this Reflection?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form method="POST">
                    <input type="text" style="display:none" id="id" name="delete-id">
                    <button type="submit" name="delete" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="contain">
    {% for i in songs %}
    <div class="card" style="width: 18rem;">
        {% if session.get('logStatus') %}
        <div class="delete-btn">
            <button type="button" class="btn" onClick="toDelete({{songs.index(i)}})" data-toggle="modal" data-target="#modal-delete">
                <i class="bi bi-trash"></i>
            </button>
        </div>
        {% endif %}
        <a href="{{ i['url'] }}">
            <img src="{{ i['image'] }}" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <h5 style="text-align: center" class="card-text">{{ i['title'] }}</h5>
        </div>
    </div>
    {% endfor %}
</div>

<div class="image1">
    <div class="text">
        <h1 id="intro-title"> Music Video</h1>
    </div>
</div>

<div class="breaker">
    <h1>Music Videos</h1>
</div>

<div class="images-portfolio">
    <div class="card">
        <div class="card-body">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/CGLIGhIZSx4?si=7qFKNPhe4l8qDrYV" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/rNsiyqtieWo?si=eo4xnR6cFpMbbmwC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/2wo7bGFAAZs?si=ZywUtFUdmPFcRrln" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/upfklvLhAj8?si=a_uoar-J2u3yqXLe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/SlewZUFtRoc?si=zF72C92QUudbRAyA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/rjBY7ETj-L4?si=2_ibCUjefOm0ZI1g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/dic6dEbF4p0?si=1x22vyA2WRwqbk2x&amp;start=3267" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/SShj6S8NgC8?si=wQlmMZbvjARHXRT3&amp;" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>

<button onclick="topFunction()" id="myBtn" class="scroll-up-btn">^</button>

<script>
function toDelete(id) {
    const value = document.getElementById("id");
    value.value = id;
}

const songs = document.getElementsByClassName('card');
var i = 0;
var speed = 100;

function animatime() {
    if (i < songs.length) {
        songs[i].classList.add('show');
        i++;
        setTimeout(animatime, speed);
    }
}

animatime();

var j = 0;
var txt = "Music Videos";
var typingSpeed = 50;

function typeWriter() {
    if (j < txt.length) {
        document.getElementById("intro-title").innerHTML += txt.charAt(j);
        j++;
        setTimeout(typeWriter, typingSpeed);
    }
}

typeWriter();

let mybutton = document.getElementById("myBtn");

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
{% endblock %}